<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Landing!</title>
</head>
<body>
	<h1>
		Welcome <span th:text="${username}">null</span>!
	</h1>

	<div th:unless="${#lists.isEmpty(authoritynames)}">
		<h2>Your Roles</h2>
		<p>You have been authenticated with the following roles:</p>
		<ul th:each="authorityname : ${authoritynames}">
			<li th:text="${authorityname}">authorityname</li>
		</ul>
	</div>

	<h2>SAML User Attributes</h2>
	<table>
		<tr>
			<th>Name</th>
			<th>Value</th>
		</tr>
		<tr th:each="attribute : ${attributes}">
			<td th:text="${attribute.key}">key</td>
			<td th:text="${attribute.value}">value</td>
		</tr>
	</table>

	<ul>
		<li><a th:href="@{/saml/logout}">Global Logout</a></li>
		<li><a th:href="@{/saml/logout?local=true}">Local Logout</a></li>
	</ul>
</body>
</html>